.banner {
    p{
        color: black !important;  
    }
    b{
        color: black !important; 
    }
  &__slider-button {
      
    margin: 30px 0;
    a {
      position: relative;
      overflow: hidden;
      z-index: 1;
      background-color: $primary;
      transition: 0.5s;
      font-weight: 500;
      padding: 15px 35px;
      color: $white;
      &:hover {
        background-color: $white;
        color: $primary;
      }
      svg {
        margin-right: 7px;
      }
    }
  }
}
