.header {
    &__top{
        background-color: $primary;
        color: $white;
        a{
            color: $white;
            &:hover{
                color: $secondary;
            }
        }
    }
    &__middle {
        background-color: $primary-secondary;
        color: $white;
        h1 {
            color: $white;
            font-weight: bold;
        }
        span {
            font-size: 25px;
        }
    }
    &__buttom {
        nav {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-Categories {
            background-color: $primary;
            color: $white !important;
            padding: 10px 0;
        }
    }
}